/* -------------- */
/* - Home React - */
/* -------------- */
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-link {
    color: #61dafb;
  }

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-scale infinite 1.5s ease-in-out alternate;
    }
}

@keyframes App-logo-scale {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
}