/* ------------------ */
/* - PiggyBank Page - */
/* ------------------ */

.Piggybank-buttonBack {
    background-color: #6d7585;
    transition: all 0.3s ease-in-out;
  }
  
  .Piggybank-buttonBack:hover {
    background-color: #fff;
    color: #282c34;
  }